/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$theme-lightgreen: rgb(197, 238, 255);
$theme-green: rgb(0, 10, 119);
$theme-black: black;

/* Colors */
$body-bg: $theme-lightgreen;
$body-color: $theme-green;
$link-color: $theme-black;

/* Fonts */
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-root: 17px;

/*-- scss:rules --*/

body {
  background-color: $body-bg;
  /* Gentle 'atomic' dot grid */
  background-image: radial-gradient(rgba(0, 10, 119, 0.07) 1.5px, transparent 1.5px);
  background-size: 24px 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $theme-green;
}

.navbar * {
  color: $theme-green;
}

span.navbar-title {
  color: $theme-green;
  transition-duration: 0.5s;

  &:hover {
    color: lighten($theme-green, 10%);
    transition-duration: 0.5s;
  }
}